<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="POS_2021.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="POS_2021.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <POS_2021.My.MySettings>
      <setting name="IP_ADDRESS" serializeAs="String">
        <value />
      </setting>
    </POS_2021.My.MySettings>
  </applicationSettings>
  <userSettings>
    <POS_2021.My.MySettings>
      <setting name="PRINTER" serializeAs="String">
        <value />
      </setting>
      <setting name="server" serializeAs="String">
        <value />
      </setting>
      <setting name="DBusername" serializeAs="String">
        <value />
      </setting>
      <setting name="DBPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="connection" serializeAs="String">
        <value />
      </setting>
      <setting name="backupConnection" serializeAs="String">
        <value />
      </setting>
      <setting name="auth_type" serializeAs="String">
        <value />
      </setting>
    </POS_2021.My.MySettings>
  </userSettings>
</configuration>