<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome.Sharp" version="5.15.1" targetFramework="net452" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net452" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net452" />
  <package id="POSForDotNet.SDK" version="1.14.1" targetFramework="net452" />
  <package id="Tulpep.NotificationWindow" version="1.1.38" targetFramework="net452" />
  <package id="ZXing.Net" version="0.16.6" targetFramework="net452" />
</packages>